body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #2f2d2d; 
  }
  
  .container {
    margin-top: 50px;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .time {
    font-size: 36px;
  }
  
  .circle {
    font-size: 18px;
    margin: 5px;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .bg-green {
    background-color: lightgreen;
  }
  
  .bg-blue {
    background-color: lightblue;
  }
  